extends ../layouts/auth
block content
  - const errors = messages.errors || null
  main.form-signin.row.align-items-center
    form.text-center.shadow-lg.p-4(action='/forgot-password', method='post')
      img.mb-4(src='/images/cycling.png', alt='')
      h3.h3.mb-3.fw-normal Restablecer Contraseña
      .form-floating
        input#email.form-control(type='text', name='email', placeholder='Ingresar correo.')
        label(for='email') Correo
        if errors
          p.form-text.my-0.text-danger
            = errors[0].email
      .d-grid.gap-2
        button.btn.btn-primary.mt-3(type='submit') Enviar
      .pt-3
        a.float-start.text-decoration-none(href='/') Volver a inicio
        a.float-end.text-decoration-none(href='/login') Volver a login
      .pt-4
        p.text-muted &copy; #{locals.year}