extends ../layouts/auth
block content
  main.form-signin.row.align-items-center
    form.text-center.shadow-lg.p-2(action='/login', method='post')
      img.mb-4(src='/images/cycling.png', alt='')
      h3.h3.mb-3.fw-normal Iniciar Sesión
      .form-floating
        input#email.form-control(type='text', name='email', value=email, placeholder='Ingresar email')
        label(for='email') Email
        if errors.email
          p.form-text.my-0.text-danger
            = errors.email.message
      .form-floating
        input#password.form-control(type='password', name='password', placeholder='Ingresar password')
        label(for='password') Password
        if errors.password
          p.form-text.my-0.text-danger
            = errors.password.message
      .d-grid.gap-2
        button.btn.btn-primary.mt-3(type='submit') Iniciar Sesión
      .pt-3
        a.float-start.text-decoration-none(href='/') Volver a inicio
        a.float-end.text-decoration-none(href='/create-account') Crear cuenta
      .pt-4
        p.text-muted &copy; #{locals.year}