extends ../layouts/auth
block content
  main.form-signin.row.align-items-center
    form.text-center.shadow-lg.p-4(action='/login', method='post')
      img.mb-4(src='/images/cycling.png', alt='')
      h3.h3.mb-3.fw-normal Iniciar Sesión
      .form-floating
        input#email.form-control(type='text', name='email', placeholder='Ingresar correo.')
        label(for='email') Email
      .form-floating
        input#password.form-control(type='password', name='password', placeholder='Ingresar contraseña.')
        label(for='password') Contraseña
      .d-grid.gap-2
        button.btn.btn-primary.mt-3(type='submit') Iniciar Sesión
      .d-flex.justify-content-end
        a.lead.mx-1(href='/facebook')
          i.fab.fa-facebook-square
        a.lead.mx-1.text-danger(href="/google")
          i.fab.fa-google-plus-square
      .pt-2
        a.float-start.text-decoration-none(href='/') Volver a inicio
        a.float-end.text-decoration-none(href='/create-account') Crear cuenta
      .pt-4
        a.text-decoration-none.d-block.my-2(href='/forgot-password') Olvidé contraseña
        p.text-muted &copy; #{locals.year}