extends ../layouts/auth
block content
  - const errors = messages.errors || null
  main.form-signin.row.align-items-center
    form.text-center.shadow-lg.p-4(action=`/reset-password/${token}`, method='post')
      img.mb-4(src='/images/cycling.png', alt='')
      h3.h3.mb-3.fw-normal Restablecer Contrase침a
      .form-floating
        input#password.form-control(type='password', name='password', placeholder='Ingresar password')
        label(for='password') Contrase침a
        if errors
          p.form-text.my-0.text-danger
            = errors[0].password
      .form-floating
        input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Ingresar password nuevamente')
        label(for='confirmPassword') Confirmar contrase침a
        if errors
          p.form-text.my-0.text-danger
            = errors[0].confirmPassword
      .d-grid.gap-2
        button.btn.btn-primary.mt-3(type='submit') Guardar
      .pt-3
        a.float-start.text-decoration-none(href='/') Volver a inicio
        a.float-end.text-decoration-none(href='/login') Iniciar sesi칩n
      .pt-4
        p.text-muted &copy; #{locals.year}