doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="/images/cycling.png")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(rel="stylesheet", href="/css/style.css")
    title #{title}
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container-fluid
        a.navbar-brand(href='/')
          img.img-fluid(src='/images/cycling.png' alt='Icono bicicleta' width='30px')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto
            li.nav-item.active
                a.nav-link.active(href='/') Inicio 
                  span.sr-only (current)
          a.btn.btn-outline-success.my-2.my-sm-0(href='/login', role='button') Iniciar Sesión
    .container.vh-100
      block content
    include ../partials/scripts