extends ./layouts/layout
block content 
  header.masthead
    .container
      .masthead-subheading Bienvenidos a
      .masthead-heading.text-uppercase Web Bicicletas
      a.btn.btn-primary.btn-lg.text-uppercase(href='#bicycles') Ver Bicicletas