doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style 
      include ./style.css
  body
    h2 Restablecer contraseña 
    p Hola, para resetear la contraseña de su cuenta haga click en el siguiente enlace.
    a(href=`${url}`) Presiona aquí.
    h4 Nota: 
    p Este enlace es temporal, si vence debes volver a solicitarlo.