h2 {
    font-size: 3rem;
    text-align: center;
}

a {
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

p {
    line-height: 1;
}

h4 {
    font-weight: bold;
}